<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>PCR 台服公会战排名查询</title>
    <link rel="shortcut icon" type="image/x-icon" href="../107831.ico" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!--script data-ad-client="ca-pub-8278251579038034" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5KD1B4TGX3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5KD1B4TGX3');
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <style id="font-ui">
        .ui-font,
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        .ui.button,
        .ui.text.container,
        .ui.header,
        .ui.input>input,
        .ui.list .list>.item .header,
        .ui.list>.item .header,
        .ui.steps .step .title,
        .ui.form input:not([type]),
        .ui.form input[type="date"],
        .ui.form input[type="datetime-local"],
        .ui.form input[type="email"],
        .ui.form input[type="number"],
        .ui.form input[type="password"],
        .ui.form input[type="search"],
        .ui.form input[type="tel"],
        .ui.form input[type="time"],
        .ui.form input[type="text"],
        .ui.form input[type="file"],
        .ui.form input[type="url"],
        .ui.input textarea,
        .ui.form textarea,
        .ui.menu,
        .ui.message .header,
        .ui.cards>.card>.content>.header,
        .ui.card>.content>.header,
        .ui.items>.item>.content>.header,
        .ui.statistics .statistic>.value,
        .ui.statistic>.value,
        .ui.statistics .statistic>.label,
        .ui.statistic>.label,
        .ui.accordion .title:not(.ui),
        .ui.modal>.header,
        .ui.popup>.header,
        .ui.search>.results .result .title,
        .ui.search>.results>.message .header,
        .ui.category.search>.results .category>.name {
            font-family: "Lato", "Noto Sans CJK", "Source Han Sans", "PingFang", "Hiragino Sans", "Microsoft Yahei", "Microsoft Jhenghei", "WenQuanYi Micro Hei", "Droid Sans Fallback", sans-serif;
        }
    </style>

</head>

<body style="padding-top: 50px;">
    <div id="PCRClanBattleSearcher">
        <div class="ui borderless top fixed menu">
            <div class="ui container menu_container">

                <a class="item" href="https://kyaru.infedg.xyz/tw"> <img src="../107831.ico">
                    &#12288;{{title[lang]}}</a>
                <div class="right menu">
                    <a class="item active current_rank"><i aria-hidden="true"
                            class="search icon"></i>{{text_dict.search_current_rank[lang]}}</a>
                    <a class="item history_rank disabled"><i aria-hidden="true"
                            class="calendar icon"></i>{{text_dict.search_history[lang]}}</a>
                    <a class="item" href="https://github.com/infinityedge01/Kyaru"><i aria-hidden="true"
                            class="github icon"></i>{{text_dict.github_link[lang]}}</a>
                    <div class="ui pointing dropdown link item">
                        <i aria-hidden="true" class="comment icon"></i> {{text_dict.feedback[lang]}}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href = "https://github.com/infinityedge01/Kyaru/issues">GitHub</a>
                            <a class="item" href = "https://nga.178.com/read.php?tid=25674067">NGA</a>
                            <a class="item" href = "mailto:infinityedge@pku.edu.cn">E-mail</a>
                        </div>
                    </div>
                    <div class="ui pointing dropdown link item">
                        <span class="text">{{lang_list[lang]}}</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" v-for="(val, key, i) in lang_list" v-bind:class = "{'active selected' : lang == key}" @click = "lang = key">{{val}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="ui container" id="main">
            <form class="ui form">
                <div class="ui error message hidden" id="error_messagebox"><i class="close icon"></i>
                    <div class="header" id="error_title"></div>
                    <p id="error_message"></p>
                </div>
                <div class="ui warning message hidden" id="warning_messagebox"><i class="close icon"></i>
                    <div class="header" id="warning_title"></div>
                    <p id="warning_message"></p>
                </div>

                <div v-if = "update">
                    <h4 class="ui dividing header">{{text_dict.select_server_and_time[lang]}}</h4>
                    <div class="field">
                        <div class="ui grid">
                            <div class="four wide column">
                                <select class="ui fluid selection dropdown" id="selectedServer"
                                    v-model="selectedServer">
                                    <option v-for="(val, key, i) in dateTimeData" :value="key">{{ServerInfo[key][lang]}}
                                    </option>
                                </select>
                            </div>
                            <div class="four wide column">
                                <select class="ui fluid selection dropdown" id="selectedDate" v-model="selectedDate">
                                    <option v-for="(val, key, i) in TimeData" :value="key">{{parseDate(key)}}</option>
                                </select>
                            </div>
                            <div class="four wide column">
                                <select class="ui fluid selection dropdown" id="selectedTime" v-model="selectedTime">
                                    <option v-for="val in TimeData[selectedDate]" :value="val">{{parseTime(val)}}
                                    </option>
                                </select>
                            </div>
                            <div class="four wide column">
                                <div class="ui fluid primary button" @click="lastTime()">
                                    {{text_dict.select_last_time[lang]}} </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="ui dividing header">{{text_dict.search_contents[lang]}}</h4>
                    <div class="ui grid">
                        <div class="twelve wide column">
                            <div class="ui fluid action input">
                                <input type="text" :placeholder="text_dict.search_placeholder[lang]" id="searchContents"
                                    v-model="searchContents">
                                <select class="ui basic floating selection dropdown" id="selectedType"
                                    v-model="selectedType">
                                    <option v-for="(val, key) in selectTypeInfo" :value="key"> {{val[lang]}} </option>
                                </select>
                                <div type="submit" class="ui primary button" @click="searchDataFirstTime()">
                                    {{text_dict.search[lang]}}</div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui fluid primary button" @click="searchScoreLine()">
                                {{text_dict.search_scoreline[lang]}} </div>
                        </div>
                    </div>
                </div>
                <table class="ui selectable  table">
                    <thead>
                        <tr>
                            <th class="one wide">{{text_dict.data_header.rank[lang]}}</th>
                            <th class="four wide">{{text_dict.data_header.clan_name[lang]}}</th>
                            <th class="one wide">{{text_dict.data_header.member_num[lang]}}</th>
                            <th class="three wide">{{text_dict.data_header.leader_name[lang]}}</th>
                            <th class="two wide">{{text_dict.data_header.damage[lang]}}</th>
                            <th class="one wide">{{text_dict.data_header.lap[lang]}}</th>
                            <th class="one wide">{{text_dict.data_header.boss_id[lang]}}</th>
                            <th class="two wide">{{text_dict.data_header.remain[lang]}}</th>
                            <th class="one wide">{{text_dict.data_header.grade_rank[lang]}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(val, key) in showData" :key="key">
                            <td>{{val.rank}}</td>
                            <td>{{val.clan_name}}</td>
                            <td>{{val.member_num}}</td>
                            <td>{{val.leader_name}}</td>
                            <td>{{val.damage}}</td>
                            <td>{{val.lap}}</td>
                            <td>{{val.boss_id}}</td>
                            <td>{{val.remain}}</td>
                            <td>{{val.grade_rank}}</td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align: center;">
                    <div class="ui pagination menu" style="box-shadow: none; ">
                        <div class="ui icon item button ranklist" id="page_prev"
                            v-bind:class="{'disabled' : pageinfo.prevDisabled}" @click="addPage(-1)">
                            <i class="left chevron icon"></i>
                        </div>
                        <div class="ui item button ranklist" v-bind:class="{'disabled' : pageinfo.maxPage == 0}"
                            @click="transPage">{{pageinfo.page + 1}} / {{pageinfo.maxPage}}</div>
                        <div class="ui icon item button ranklist" id="page_next"
                            v-bind:class="{'disabled' : pageinfo.nextDisabled}" @click="addPage(1)">
                            <i class="right chevron icon"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.1.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="tw/index.js?v=0.1"></script>

</body>

</html>
